@import 'pallete.scss';

.essay-container{
    background-color: #f8f9fa;
    padding: 60px 20px;

    .essay{
        display: flex;
        justify-content: center;

        .evaluation{
            background-color: #fff;
            box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
            padding: 20px 40px;
        }
    }

    .form{
        background-color: #fff;
        padding: 50px 40px;
        width: 800px;
        margin: 0px 30px;
        box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
        &.writing{
            input{
                font-family: 'Consolas', 'Courier New', Courier, monospace;
                border-bottom: 1px solid #b5bfc9;
            }
            textarea{
                background-image: -moz-linear-gradient(top , transparent, transparent 39px,#b5bfc9 0px);
                background-image: -webkit-linear-gradient(top , transparent, transparent 39px,#b5bfc9 0);
                background-attachment: local;
                -webkit-background-size: 100% 40px;
                background-size: 100% 40px;
                font-family: 'Consolas', 'Courier New', Courier, monospace;
                line-height: 40px;
            }
        }
    }
    .actions{
        width: 890px;
        margin: 15px auto 0;
        text-align: right;
    }
    .title{
        input{
            display: block;
            width: 70%;
            margin: 0 auto 40px;
            border: none;
            box-shadow: none;
            outline: none;
            text-align: center;
            font-size: 22px;
        }
    }
    .content{
        textarea{
            width: 100%;
            border: none;
            box-shadow: none;
            outline: none;
            font-size: 18px;
            line-height: 26px;
            resize: none;
            
        }
    }
}

.evaluation{
    position: sticky;
    .category{
        margin: 0 0 20px;
        .main{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .title {
            font-size: 16px;
        }
        .score-badge{
            margin-left: 20px;
            padding: 5px;
            background-color: rgb(51, 124, 9);
            color: #fff;
            font-weight: bold;
        }

        .bar-container{
            background-color: rgb(196, 196, 196);
            height: 4px;
            margin: 8px 0 0;
            border-radius: 4px;
            .bar {
                background-color: green;
                height: 4px;
            }
        }
    }

    .total{
        font-size: 17px;
        text-align: center;
        .score {
            span{
                font-size: 37px;
                color: green;
            }
        }
    }
}