@import 'pallete.scss';

.essay-container{
    background-color: #f8f9fa;
    padding: 60px 20px;

    .essay{
        display: flex;
        justify-content: center;

        .evaluation{
            background-color: #fff;
            box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
            padding: 20px 40px;
        }
    }

    .form{
        background-color: #fff;
        padding: 50px 40px;
        width: 800px;
        margin: 0px 30px;
        box-shadow: 0 1px 3px 1px rgba(60,64,67,.15);
        &.writing{
            input{
                font-family: 'Consolas', 'Courier New', Courier, monospace;
                border-bottom: 1px solid #b5bfc9;
            }
            textarea{
                background-image: -moz-linear-gradient(top , transparent, transparent 39px,#b5bfc9 0px);
                background-image: -webkit-linear-gradient(top , transparent, transparent 39px,#b5bfc9 0);
                background-attachment: local;
                -webkit-background-size: 100% 40px;
                background-size: 100% 40px;
                font-family: 'Consolas', 'Courier New', Courier, monospace;
                line-height: 40px;
            }
        }
    }
    .actions{
        width: 800px;
        margin: 0px auto;
    }
    .title{
        input{
            display: block;
            width: 70%;
            margin: 0 auto 40px;
            border: none;
            box-shadow: none;
            outline: none;
            text-align: center;
            font-size: 22px;
        }
    }
    .content{
        textarea{
            width: 100%;
            border: none;
            box-shadow: none;
            outline: none;
            font-size: 18px;
            line-height: 26px;
            resize: none;
            
        }
    }
}
