@import 'pallete.scss';

.section{
    .title{
        text-align: center;
        display: block;
        font-size: 44px;
        margin: 10px 0 20px;
        padding: 0;
        text-shadow: 1px 1px 5px #000;
        color: #fff
    }
    padding: 20px 0 30px;

}
