footer{
    background-color: #000;    
    color: #fff;
    padding: 50px 0;
    .social-icons{
        text-align: center;
        font-size: 24px;
        padding: 10px 0;
        svg{
            margin: 0 10px;
            font-size: 30px;
        }
    }
    .copyright{
        text-align: center;
    }
    .developer{
        text-align: center;
        color: #EEE;
        font-size: 14px;
    }

    blockquote{
        max-width: 700px;
        display: block;
        color: #DDD;
        font-size: 16px;
        margin: 0 auto 8px;
        .author{
            display: block;
            text-align: right;
        }
    }
}
