@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');
@import 'pallete.scss';

body {
    margin: 0;
    font-family: "Raleway", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f9fa;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}