@import 'pallete.scss';

body {
    margin: 0;
    font-family: "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f9fa;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

button{
  background-color:#fff;
  padding: 10px 20px;
  outline: none;
  border: 1px solid $dark;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  color: $dark;

  &:hover{
    background-color: #fcfcfc;
  }

  &.action{
    background-color: $dark;
    color: #fff;
  }
}
